home-project-inside {
    .home-project-inside {
        .home-project-inside-content {
            home-project-inside-api-edit {
                .home-project-inside-edit {
                    margin-left: 0;
                }
            }
        }
    }
}

home-project-inside-api-edit {
    .home-project-inside-edit {
        z-index: 0;
        header {
            .title-ul {
                @extend %COMMON-TITLE-UL;
                @extend %COMMON-MENU-LI;
                .btn-group-li {
                    .default-btn {
                        margin-left: 10px;
                    }
                    .last-btn {
                        margin-right: 10px;
                    }
                }
            }
        }
        .first-level-article {
            padding: 0 10px;
            .tips-ul {
                padding: 0 10px;
                margin-top: 10px;
                @include eo-line(32px);
                li {
                    font-size: 12px;
                }
                .title-li {
                    font-weight: bold;
                    margin-bottom: 5px;
                }
            }
            .common-ul {
                @include eo-color(#F1F8E9, #DCEDC8);
                * {
                    color: #4caf50;
                }
            }
            .eo-input {
                @include eo-line(40px);
            }
            .first-part {
                padding: 0 10px 10px 10px;
                padding-top: 0;
                min-height: 50px;
                background-color: #fff;
                margin-top: 10px;
                border: 1px solid #e5e5e5;
                border-radius: 3px;
                input {
                    @include eo-line(28px);
                    width: 100%;
                }
                li {
                    line-height: 31px;
                    span {
                        font-size: 14px;
                    }
                    span {
                        font-weight: bold;
                    }
                }
                select {
                    width: auto;
                    text-indent: 0;
                    margin-right: 5px;
                    @include eo-line(30px);
                    padding: 0 5px;
                }
                .first-select-li {
                    span {
                        width: 50px;
                        display: inline-block;
                    }
                }
                .api-message-send {
                    margin-top: 10px;
                    width: 100%;
                    display: table;
                    .pull-right {
                        margin-right: 10px;
                        .iconfont {
                            color: #ccc;
                        }
                        .icon-favorfill {
                            color: #f48932;
                        }
                    }
                }
                .api-message-url,
                .api-message-name {
                    font-size: 14px;
                    margin-top: 10px;
                    display: inline-flex;
                    width: 100%;
                    .common-li {
                        @include eo-width(100%, 2px);
                    }
                }
                .api-message-url {
                    .protocol-li {
                        select {
                            margin-right: 0;
                            border-radius: 3px 0 0 3px;
                            border-right: none;
                        }
                    }
                    .common-li {
                        input {
                            border-radius: 0 3px 3px 0;
                        }
                    }
                }
            }
            .item-part {
                border: 1px solid #e5e5e5;
                border-radius: 3px;
                background-color: #fff;
                .title-p {
                    @include eo-line(40px);
                    padding-left: 10px;
                    border-bottom: 1px solid #e5e5e5;
                    b {
                        font-size: 14px;
                        color: #555;
                    }
                }
                .un-pointer-p {
                    cursor: default;
                }
                .elem-hover-li {
                    background-color: #fff;
                    &:hover,
                    &:focus,
                    &:active,
                    &:visited {
                        background-color: #f5f5f5;
                    }
                }
                .sv-helper {
                    background-color: #f5f5f5;
                    border-bottom: 1px solid #e5e5e5;
                }
                .common-table {
                    width: 100%;
                    border-spacing: 0;
                    table-layout: fixed;
                    td {
                        font-size: 14px;
                        height: 40px;
                        line-height: 20px;
                        cursor: default;
                        &:nth-child(n+2) {
                            border-left: 1px dashed #e5e5e5;
                        }
                        .eo-input {
                            border: none;
                            width: 100%;
                            border-radius: 0;
                        }
                        .eo-input-error {
                            box-shadow: 0px 0px 3px 0px red inset;
                        }
                        .eo-had-input-error input {
                            box-shadow: 0px 0px 3px 0px red inset;
                        }
                    }
                    .required-td {
                        width: 40px;
                        text-align: center;
                        text-indent: 0;
                    }
                    .operation-td {
                        padding-left: 10px;
                        text-indent: 0;
                    }
                    thead {
                        background-color: #fafafa;
                        td {
                            text-indent: 10px;
                        }
                    }
                    tbody {
                        .number-label {
                            width: 25px;
                            @include eo-line(25px);
                            border-radius: 3px;
                            background-color: #f2f2f2;
                            color: #9e9e9e;
                            display: inline-block;
                            text-align: center;
                            border: 1px solid #e5e5e5;
                        }
                        .icon-shanchu {
                            &:hover {
                                background-color: #D32F2F;
                                color: #fff;
                                border: 1px solid #C62828;
                            }
                        }
                        .radio-input {
                            border: 1px solid #e5e5e5;
                            @include eo-line(23px);
                            width: 23px;
                            font-size: 13px;
                            cursor: pointer;
                            display: inline-block;
                            text-align: center;
                            border-radius: 3px;
                        }
                        tr {
                            td {
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                            }
                            &:nth-last-child(n+2) {
                                td {
                                    border-bottom: 1px dashed #e5e5e5;
                                }
                            }
                            &:first-child {
                                td {
                                    border-top: 1px solid #e5e5e5;
                                }
                            }
                        }
                    }
                }
                header {
                    padding: 10px 10px 12px 10px;
                    line-height: 29px;
                    min-height: 30px;
                    .send-format {
                        color: $buttonInfoFocusBgColor;
                        text-align: center;
                        font-size: 14px;
                        @include eo-line(30px);
                        border: 1px solid #bcdffb;
                        padding: 0 10px;
                        background-color: #e3f7ff;
                        &:hover {
                            background-color: $buttonInfoFocusBgColor;
                            color: #fff;
                            * {
                                color: #fff;
                            }
                        }
                    }
                    .test-nav-li {
                        text-align: center;
                        min-width: 80px;
                        padding: 0 10px;
                        font-weight: initial;
                        font-size: 14px;
                        @include eo-line(28px);
                        background-color: #edf7ee;
                        cursor: pointer;
                        color: $buttonSuccessBorderColor;
                        border: 1px solid #b2d8b6;
                        &:hover {
                            background-color: $buttonSuccessBgColor;
                            border-color: $buttonSuccessFocusBgColor;
                            color: #fff;
                        }
                    }
                    .success-li {
                        border-radius: 3px 0 0 3px;
                        border-right: none;
                    }
                    .failure-li {
                        border-radius: 0 3px 3px 0;
                        border-left: none;
                        margin-right: 5px;
                    }
                    .active {
                        background-color: $buttonSuccessFocusBgColor;
                        border-color: $buttonSuccessFocusBgColor;
                        color: #fff;
                    }
                }
            }
            .eo-static-hidden {
                border: none;
            }
            .request-header-part {
                header {
                    border-bottom: 1px solid #e5e5e5;
                }
                table {
                    .request-header-label {
                        width: 300px;
                    }
                    .operation-td {
                        width: 100px;
                    }
                    tbody {
                        .label-td {
                            .icon-xiangxia {
                                position: absolute;
                                margin-left: -26px;
                                display: inline-block;
                                height: 40px;
                                line-height: 43px;
                            }
                            .auto-complete-message {
                                line-height: 20px;
                                text-indent: 10px;
                                font-size: 12px;
                                margin-left: -1px;
                            }
                        }
                    }
                }
            }
            .request-param-part {
                header {
                    border-bottom: 1px solid #e5e5e5;
                }
                table {
                    .type-td {
                        width: 130px;
                        select {
                            text-indent: 0;
                        }
                    }
                    .name-td {
                        width: 300px;
                    }
                    .operation-td {
                        width: 170px;
                        .get-more-btn {
                            padding: 0 5px;
                            font-size: 12px;
                            @include eo-line(27px);
                        }
                    }
                }
                .ace-div {
                    margin-top: 10px;
                }
                .eo-static-hidden {
                    margin-top: 0;
                }
            }
            .response-param-part {
                margin-top: 10px;
                header {
                    border-bottom: 1px solid #e5e5e5;
                }
                >div {
                    border-top: 1px solid #e5e5e5;
                }
                table {
                    .type-td {
                        width: 130px;
                        select {
                            text-indent: 0;
                        }
                    }
                    .name-td {
                        width: 300px;
                    }
                    .operation-td {
                        width: 170px;
                        .get-more-btn {
                            padding: 0 5px;
                            font-size: 12px;
                            @include eo-line(27px);
                        }
                    }
                }
            }
            .response-example-part {
                margin-bottom: 10px;
                header {
                    .regex-p {
                        margin-top: 10px;
                        select {
                            width: auto;
                            text-indent: 0;
                            @include eo-line(35px);
                        }
                        input[type=text] {
                            @include eo-line(33px, 35px);
                        }
                    }
                }
                article {
                    line-height: 0;
                }
            }
            .remark-part {
                margin: 10px 0;
                >div {
                    border-top: 1px solid #e5e5e5;
                }
                article {
                    min-height: 237px;
                    padding: 0 12px 10px 10px;
                }
            }
            .back-result-content {
                min-height: 230px;
                max-height: 500px;
                overflow: auto;
                border: 1px solid #e5e5e5;
                margin: 10px 10px 10px 10px;
                border-radius: 3px;
                padding: 5px;
                line-height: 20px;
                font-size: 12px;
                max-width: 100%;
                @include eo-width(100%, 32px);
                word-break: break-all;
                white-space: pre-wrap;
            }
            .mock-part {
                margin-top: 10px;
                header {
                    border-bottom: 1px solid #e5e5e5;
                }
                >div {
                    border-top: 1px solid #e5e5e5;
                }
                table {
                    .type-td {
                        width: 130px;
                        select {
                            text-indent: 0;
                        }
                    }
                    .value-td {
                        padding-right: 5px;
                    }
                    .name-td {
                        width: 300px;
                        text-indent: 10px;
                    }
                    .readonly-value-td {
                        text-indent: 10px;
                    }
                }
            }
            .mock-data-part {
                margin: 10px 0;
                >div {
                    border-top: 1px solid #e5e5e5;
                }
                article {
                    min-height: 237px;
                    line-height: 0;
                    .back-result-content {
                        margin-top: 0;
                    }
                }
            }
            ace-editor-ams-directive {
                margin-top: 10px;
            }
        }
    }
    .wangEditor-container {
        height: 445px;
        .wangEditor-txt {
            min-height: 400px;
        }
    }
}

@media only screen and (max-width: 1310px) {
    .home-project-inside home-project-inside-api-edit .home-project-inside-edit article .request-param-part article .form-ul .request-param-info {
        .request-type-select-li {
            margin-right: 0;
        }
        .go-more-btn-group {
            margin-right: 0;
            .go-more {
                width: 22px;
                text-indent: 0;
                span {
                    display: none;
                }
            }
        }
    }
}
